body {
    margin: 0;
    height: 100vh
}

header {
    background-color: #f8f8f8; 
    padding:  10px;
    margin: 0;
}

nav {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    height: 100%;
    padding: 10px;
    
}
.nav{
    display: flex; 
    justify-content: space-around;
    margin-right: 5px;
    color: black;
    
    
    
    
}

h1 {
    margin: 0;
    padding-left: 30px;
    color: #41a392 ;
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

h4 {
   
    cursor: pointer;
    align-items: end; 
    padding-right: 40px;
    margin: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: normal;

  
}

#main {
    background-image: url(images/background.jpg);
    background-size: cover;
    height: 100vh;
    margin: 0;
}

.text {
    text-align: center;
    padding-top: 20px;
}

h3 {
    color: white;
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    margin-bottom: 30px; 
}

h6 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: normal;
    padding-top: 0;
    margin-top: 20px; 
}

#card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.card1 {
    background-color: white;
    width: 350px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; 
    border-radius: 10px;
    padding: 20px;
    margin: 40px;
    max-width: 350px;
    
   
}

.search {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1px;
    
    
}

.date {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 60px;
}

.button {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


input[type="text"], input[type="date"] {
    width: 85%;
    height: 25px;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 7px;
    background-color: #f1f4f5;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    width: 93%;
    height: 50px;
    margin-bottom: 30px;
    background-color: #41a392;
    color: white;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    align-items: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

button:hover {
    background-color: #41a335;
}

a{
    text-decoration: none;
    color: inherit;
}


.card2 {
    background-color: white; 
    width: 350px; 
    height: 400px; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: flex-start; 
    border-radius: 10px; 
    padding: 20px; 
    margin: 40px; 
    position: relative; 
    overflow: scroll;
}

.train-image {
    max-width: 100%; 
    height: auto;
    max-height: 200px;
    margin-top: 30px;
}

.divider {
    height: 2px; 
    background-color: green; 
    width: 70%; 
    margin: 10px 0; /
}

.result {
    color: black; 
    font-size: 1.2em; 
    text-align: center; 
    margin-top: 20px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#cartContainer {
    margin: 0;
    height: 100vh;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#f1f4f5;
}

#cart {
    background-color: white; 
    margin: 100px;
    padding: 50px 100px;
    width: 50em;

}
#line1, #line2 {
    font-family: Arial, Helvetica, sans-serif;
    font: black;
    text-align: center;
    line-height: 4;
}

#bookingContainer {
    margin: 0;
    height: 100vh;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#f1f4f5;
}

#booking {
    background-color: white; 
    margin: 100px;
    padding: 50px 100px;
    width: 50em;
}